In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import pandas_datareader as data

plt.style.use('fivethirtyeight')
%matplotlib inline

In [3]:
import yfinance as yf
import datetime as dt

stock = "POWERGRID.NS"
start = dt.datetime(2000, 1, 1)
end = dt.datetime(2024, 11, 1)

df = yf.download(stock, start, end)

C:\Users\junai\AppData\Local\Temp\ipykernel_13660\2592194838.py:8: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(stock, start, end)
[*********************100%***********************]  1 of 1 completed

In [4]:
df.head()

Price             Close         High          Low         Open       Volume
Ticker     POWERGRID.NS POWERGRID.NS POWERGRID.NS POWERGRID.NS POWERGRID.NS
Date
2007-10-05    32.545429    35.424697    26.900123    29.051487    855215656
2007-10-08    30.879328    33.645365    30.685219    33.645365    126671715
2007-10-09    32.982182    33.273343    29.229427    30.895519    116725709
2007-10-10    33.289513    33.968891    32.998352    33.839485     67931378
2007-10-11    37.009903    38.821577    32.998342    38.821577    106320954

In [5]:
df.shape

(4208, 5)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4208 entries, 2007-10-05 to 2024-10-31
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   (Close, POWERGRID.NS)   4208 non-null   float64
 1   (High, POWERGRID.NS)    4208 non-null   float64
 2   (Low, POWERGRID.NS)     4208 non-null   float64
 3   (Open, POWERGRID.NS)    4208 non-null   float64
 4   (Volume, POWERGRID.NS)  4208 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 197.2 KB

In [7]:
df.isnull().sum()

Price   Ticker
Close   POWERGRID.NS    0
High    POWERGRID.NS    0
Low     POWERGRID.NS    0
Open    POWERGRID.NS    0
Volume  POWERGRID.NS    0
dtype: int64

In [8]:
df.describe()

Price         Close         High          Low         Open        Volume
Ticker POWERGRID.NS POWERGRID.NS POWERGRID.NS POWERGRID.NS  POWERGRID.NS
count   4208.000000  4208.000000  4208.000000  4208.000000  4.208000e+03
mean      79.483549    80.517027    78.462750    79.520589  1.188963e+07
std       63.570576    64.313382    62.779670    63.552224  2.061999e+07
min       19.001730    20.312194    17.036034    20.213909  0.000000e+00
25%       36.529133    37.105430    35.989641    36.566533  4.799653e+06
50%       55.504938    56.145825    54.762127    55.611511  8.344398e+06
75%       83.112986    84.105051    82.127443    83.135585  1.362032e+07
max      356.113861   356.893408   348.074624   354.749603  8.552157e+08

In [9]:
df = df.reset_index()

In [10]:
df.columns

MultiIndex([(  'Date',             ''),
            ( 'Close', 'POWERGRID.NS'),
            (  'High', 'POWERGRID.NS'),
            (   'Low', 'POWERGRID.NS'),
            (  'Open', 'POWERGRID.NS'),
            ('Volume', 'POWERGRID.NS')],
           names=['Price', 'Ticker'])

In [11]:
df.head()

Price,Date,Close,High,Low,Open,Volume
Ticker,,POWERGRID.NS,POWERGRID.NS,POWERGRID.NS,POWERGRID.NS,POWERGRID.NS
0,2007-10-05,32.545429,35.424697,26.900123,29.051487,855215656
1,2007-10-08,30.879328,33.645365,30.685219,33.645365,126671715
2,2007-10-09,32.982182,33.273343,29.229427,30.895519,116725709
3,2007-10-10,33.289513,33.968891,32.998352,33.839485,67931378
4,2007-10-11,37.009903,38.821577,32.998342,38.821577,106320954

In [ ]:
# candlestick

import plotly.graph_objects as go